body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
}

.img-container {
    background-color: #007BFF;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.img-container img {
    width: 100%;
    max-width: 250px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 5px;
}

button:hover {
    background-color: #0056b3;
}

#listaDeGastos {
    list-style-type: none;
    padding: 0;
}

.gasto-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gasto-item span {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
}

.gasto-alert {
    color: red;
    margin-left: 10px;
}

.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
